body {
    margin: 0;
    padding: 0;
}

#controls {
    position: absolute;
    top: 0;
    left: 1280px;
}

#source-image {
    display: none;
}

canvas {
    float: left;
}

.plot {
    width: 400px;
    height: 250px;
}

.image,
.plot {
    display: inline-block;
}

#source,
#output,
#overlay {
    position: absolute;
    left: 0;
    top: 0;
}

#cam {
    position: absolute;
}

#viewport {
    position: absolute;
    top: 0;
    left: 0;
}

#viewport.highlight {
    background-color: magenta;
}

#output {
    background-color: magenta;
}

#viewport,
#overlay {
    display: none;
}

#stats {
    position: absolute;
    left: 1280px;
    top: 0;
}

#lut {
    position: absolute;
    visibility: hidden;
}

#rgb-lut {
    position: absolute;
    display: none;
}

#snapshot {
    position: absolute;
    bottom: 0;
    left: 0;
}

#snapshots {
    position: absolute;
    bottom: 0;
    left: 0;
}

#snapshots img {
    width: 100px;
}

#log {
    position: absolute;
    left: 500px;
    top: 0;
}

#images-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#images {
    width: 100%;
}

#images img {
    width: 100%;
}